*
{
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none; 
    padding: 0;
    margin: 0;
    font-family: arial,sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    
}
html 
{
    overflow-y: auto;
    background-color: transparent;
}
body
{
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 10px;
    background: #F8FDFC;
    height: auto;
    width: 100%;
}
header
{
    display: block;
    padding: 10px;
    height: 7em;
    background: linear-gradient(#31A4CF,#31A4CF,#F8FDFC);
}
.head_menu
{
    color: #000;
}
.head_menu ul
{
    display: inline;
    line-height: 7em;
    padding: 0;
    margin: 0 0 0 10em;
}
.head_menu ul li
{
    display: inline;
    overflow: hidden;
    color: #1A3755; 
    cursor: pointer;
    box-shadow: 5px 5px 5px #333;
    border-radius: 1.1em 0;
    font-size: 2em;
    font-weight: 600;
    display: inline;
    padding: 0.4em;
    text-align: center;
    margin: 0 calc(1em) 0 0;
    
    background: #AEA;
    transition: all 0.1s;
}
.head_menu ul li:hover
{
    color: #BA2139;
}
.head_menu ul li:active
{
    color: rgb(208, 255, 0);
}
content
{
    position: relative;
    display: block;
    height: 1000px;
}
content .frame
{
    background: #7DC2A2;
    width: auto;
    height: 90%;
    display: block;
    margin: 5em;
    padding: 2em;
    border-radius: 4em;
    box-shadow: 0 0 50px rgb(76, 226, 169), 5px 0 10px #000;
}
content .card
{
    margin: 0 50px;
    display: inline-block;
    width: 250px;
    border-radius: 50px;
    padding: 40px 20px;
    box-shadow: 0 0 20px #000;
    background: radial-gradient(ellipse,#4BC282,#4BC282,#4BC282,#9DE4C4);
}
content .card ul
{
    text-decoration: none;
}
content .card span
{
    background: rgba(100,220,150,0.5);
    box-shadow: 0 0 10px #000;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    box-shadow: 0 0 10px #000;
    border-radius: 20px;
    padding: 7px;
    bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-family: 'Comic Neue', cursive;
}
footer
{
    position: relative;
    top: 0px;
    padding: 10px;
    height: 50px;
    text-align: right;
    background: linear-gradient(#F8FDFC,#31A4CF,#1A3755);
}
footer span
{
    font-size: 1.5em;
    color: #BA2139;
    text-shadow: 0 0 15px #31A4CF, 0 0 5px #F8FDFC, 0 0 20px #31A4CF;
    line-height: 50px;
}
footer span.foot_date
{
    margin: 0 5% 0 30%;
}
footer span.foot_text::after
{
    position: relative;
    bottom: 0.3em;
    font-size: 0.7em;
    content: "\2122";
}
.hello
{
    overflow: hidden;
    position: absolute;
    display: none;
    background: rgba(0,0,0,0.5);
}
