*
{
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none; 
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    width: 100%;
    height: 100%;
}
body
{
    background: rgb(57, 182, 219);
}
header
{
    display: block;
    height: 7em;
    background: rgb(36, 195, 216);
}
.head_menu
{
    color: #000;
}
.head_menu ul
{
    display: inline;
    line-height: 7em;
    padding: 0;
    margin: 0 0 0 10em;
}
.head_menu ul li
{
    color: #555; 
    cursor: pointer;
    box-shadow: 5px 5px 5px #333;
    border-radius: 1.1em 0;
    font-size: 2em;
    font-weight: 600;
    display: inline;
    padding: 0.7%;
    text-align: center;
    margin: 0 calc(20% - 10em) 0 0;
    background: #AEA;
    transition: all 0.5s;
}
.head_menu ul li:hover
{
    color: rgb(48, 46, 190);
}
.head_menu ul li:active
{
    color: rgb(208, 255, 0);
}
content
{
    display: block;
    height: 100%;
}
content .frame
{
    background: rgb(76, 226, 169);
    width: auto;
    height: 90%;
    display: block;
    margin: 5em 5em 0;
    padding: 1em;
    border-radius: 4em;
    box-shadow: 0 0 50px rgb(76, 226, 169), 5px 0 10px #000;
}
footer
{
    position: relative;
    top: 5px;
    height: 50px;
    text-align: right;
    background: rgb(170, 211, 221); 
}
footer span
{
    font-size: 1.5em;
    color: #555;
    line-height: 50px;
}
footer span.foot_date
{
    margin: 0 5% 0 30%;
}
footer span.foot_text::after
{
    position: relative;
    bottom: 0.3em;
    font-size: 0.7em;
    content: "\2122";
}
.hello
{
    overflow: hidden;
    position: absolute;
    display: none;
    background: rgba(0,0,0,0.5);
}